################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mafesoft/v16
/Mafesoft.Data/bin/Debug/NET5.0
/Mafesoft.Data/obj/Debug
/Mafesoft.Data/obj
